eWalletServerAPI/web/wsdl/Store.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ewallet.sci.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ewallet.sci.com" xmlns:intf="http://service.ewallet.sci.com" xmlns:tns1="http://bean.ewallet.sci.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ewallet.sci.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.ewallet.sci.com"/>
   <element name="create">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createResponse">
    <complexType>
     <sequence>
      <element name="createReturn" type="tns1:StatusBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="tns1:StoreLoginBean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.ewallet.sci.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="StatusBean">
    <sequence>
     <element name="status" type="xsd:int"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StoreLoginBean">
    <sequence>
     <element name="status" type="xsd:int"/>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="store_id" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createResponse">

      <wsdl:part element="impl:createResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part element="impl:create" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Store">

      <wsdl:operation name="create">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StoreSoapBinding" type="impl:Store">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StoreService">

      <wsdl:port binding="impl:StoreSoapBinding" name="Store">

         <wsdlsoap:address location="http://localhost:8080/citygo/services/Store"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
